.footer {
  margin: 1.25rem;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__links {
    display: flex;
    gap: 1rem;
  }

  &__img-wrapper {
    @media (max-width: 720px) {
      max-width: 300px;
    }
  }

  &__subtitle {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
  }
}